extends layout

block content
  center
    h1 Technology Inventory

  a(href="/laptop")
    div.container#laptops
      h1 Laptops
      img#laptopimg(src="https://i.ibb.co/w4k1m3S/laptopupload.png")
  
  center
    a(href="/phone")
      div.container#phones
        h1 Phones
        img#phoneimg(src="https://mockuphone.com/static/images/devices/apple-iphone5c-blue-side1.png")
    
  a(href="/tablet")
    div.container#tablets
      h1 Tablets
      img#tabletimg(src="https://images.vexels.com/media/users/3/127704/isolated/preview/5d943e8bfc31f753b94aee72cde379f1-flat-tab-device-icon-by-vexels.png ")

